@font-face {
    font-family: 'Kannada Sangam MN';
    src: url('./kannada-sangam-mn-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.bigger-font {
    font-size: 24px; /* Adjust the font size to your preference */
  }

  
.navbar {
    background-color: white;
    color: black;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kannada Sangam MN';
    font-size: 24px;
}

.trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kannada Sangam MN';
}