@font-face {
    font-family: 'Kannada Sangam MN';
    src: url('./kannada-sangam-mn-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.bigger-font {
    font-size: 24px; /* Adjust the font size to your preference */
  }

  
.navbar {
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.50);

    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kannada Sangam MN';
    font-size: 36px;
    font-weight: bold; /* Add this to make it bolder */
    color: #EB7752; /* Add this to change the color to gray */
}

.trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kannada Sangam MN';
    color: #545454; /* Add this to change the color to gray */
}
